include global.pug

mixin caseDetail(caseId, redirectUrl, nextTargetUrl, pageThumbUrl, title, pageUrl)
    doctype html
    html(xmlns:og="http://opengraphprotocol.org/schema/")
        head
            meta(http-equiv='content-type', content='text/html;charset=UTF-8')
            title #{title}
            meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
            meta(name='apple-mobile-web-app-capable', content='yes')
            meta(name='apple-touch-fullscreen', content='yes')
            meta(name='apple-mobile-web-app-status-bar-style', content='default')
            meta(content='Eric Phelan; Full-stack Developer and Entrepreneur.', name='description')
            meta(content='Eric Phelan', name='author')
            meta(property='og:image' content='#{pageThumbUrl}')
            meta(property="og:title" content="#{title}")
            meta(property="og:url" content="#{pageUrl}")
            link(href='assets/css/loading.css', rel='stylesheet', type='text/css')
            link(href='assets/css/styles.css', rel='stylesheet', type='text/css')
            link(rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon")
        body(style="background-color:black" data-redirect-target="#{redirectUrl}" data-case-id="#{caseId}" data-next-target="#{nextTargetUrl}")
            img.pagethumb(src="#{pageThumbUrl}" style="opacity:0;")
            .bootstrap-loading-mask.displayed
                .element
                    .triangle-wrapper
                        .triangle.triangle-1
                        .triangle.triangle-2
                        .triangle.triangle-3
                        .triangle.triangle-4
                        .triangle.triangle-5
                        p.triangle-loading EricPhelan
            +fixedNavigationCases()
            block
        script(src="assets/js/lib/jquery-3.2.1.min.js" type="text/javascript")
        script(src="assets/js/plugins-min.js" type="text/javascript")
        script(src="assets/js/eric-min.js" type="text/javascript")
        script(src="assets/js/libs-min.js" type="text/javascript")
        script(src="assets/js/lib/cases-min.js" type="text/javascript")

